version: '3.8.5'

services:
  db:
    image: postgres:12.4
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env
  web:
    image: tereshchenkovali/yamdb_final:latest
    build: .
    restart: always
    command: gunicorn yamdb_final.wsgi:application --bind 0.0.0.0:8000
    ports:
      - "8000:8000" 
    volumes:
      - static_value:/code/static/
      - media_value:/code/media/
    depends_on:
      - db
    env_file:
      - ./.env


  nginx:
    image: nginx:1.19.3
    restart: always
    ports:
      - "80:80"

    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - static_value:/static/
      - media_value:/media/

    depends_on:
      - web

volumes:
  postgres_data:
  static_value:
  media_value:
